* {
  box-sizing: border-box;
  padding: 0;
  outline: 0;
  scroll-behavior: smooth; 
}

.example-card {
  width: 350px;
  height: 250px;
  margin: 20px;
  align-items: center;
  padding: 15px;
}
.status{
  display: flex;
  flex-direction: row;
  font-size: 35px;
}
.cardIcon{
  background-color: #3f51b5;
  margin-bottom: 5px;
  margin-right: 350px;
  border-radius: 10px;
}
.grafics{
  display: flex;
  flex-direction: row;
}
.container{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 80px;
}
.mat-icon{
  font-size: 40px;
  text-align: center;
  width: 50px;
  height: 50px;
  color: white;
}

.card-map {
  width: 600px;
  height: 400px;
  margin: 20px;
  align-items: center;
  padding: 25px;
}

