<div class="container">
  <div class="status">
    <mat-card class="example-card">
      <h2>Valor PIB (trilhão)</h2>
      <canvas id="meuCanvas1"></canvas>
    </mat-card>
    <mat-card class="example-card">
      <h2>População do Brasil (milhão)</h2>
      <canvas id="meuCanvas2"></canvas>
    </mat-card>
    <mat-card class="example-card">
      <h2>Maiores PIB's do Brasil em %</h2>
      <canvas id="meuCanvas3"></canvas>
    </mat-card>
  </div>

  <div class="grafics">

    <mat-card class="example-card">
      <h2>População do Brasil (milhão)</h2>
      <canvas id="meuCanvas5"></canvas>
    </mat-card>
    <mat-card class="example-card">
      <h2>Maiores PIB's do Brasil em %</h2>
      <canvas id="meuCanvas6"></canvas>
    </mat-card>
  </div>

  <div class="map">
    <mat-card class="card-map">
      <h2>Menor cidade do Brasil</h2>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.3220766916284!2d-45.795049182715786!3d-19.44167576979276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b24559398013f9%3A0x52246cf76f67ded5!2sA%20Menor%20Cidade%20do%20Brasil!5e0!3m2!1spt-BR!2sbr!4v1675686009738!5m2!1spt-BR!2sbr"
        width="600" height="450" style="border: 1px;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </mat-card>
  </div>
</div>