<div class="container">
  <div class="status">
    <mat-card class="example-card">
      <h2>Vendas nos últimos anos</h2>
      <canvas id="meuCanvas1"></canvas>
    </mat-card>
    <mat-card class="example-card">
      <h2>Valor vendas nos últimos anos</h2>
      <canvas id="meuCanvas2"></canvas>
    </mat-card>
    <mat-card class="example-card">
      <h2>Maiores setores da empresa</h2>
      <canvas id="meuCanvas3"></canvas>
    </mat-card>
  </div>

  <div class="grafics">

    <mat-card class="example-card">
      <h2>Qtd de funcionarios em anos</h2>
      <canvas id="meuCanvas5"></canvas>
    </mat-card>
    <mat-card class="example-card">
      <h2>Vendas por produto </h2>
      <canvas id="meuCanvas6"></canvas>
    </mat-card>
  </div>
</div>