<div class="container">

  <div class="status">
    <mat-card class="example-card">
    <div class="cardIcon"><mat-icon>monetization_on</mat-icon></div>
    <h2>Faturamento Atual</h2>
    <a>R$ 130.034,45</a>
  </mat-card>
  <mat-card class="example-card">
    <h2>Quantidades de vendas</h2>

  </mat-card>
  <mat-card class="example-card">
    <h2>Valor venda média</h2>

  </mat-card>
  </div>

  
<div class="grafics">
  <mat-card class="example-card">
    <h2>Real</h2>
    <canvas id="meuCanvas1"></canvas>
  </mat-card>
  <mat-card class="example-card">
    <h2>Dollar</h2>
    <canvas id="meuCanvas2"></canvas>
  </mat-card>
  <mat-card class="example-card">
    <h2>Euro</h2>
    <canvas id="meuCanvas3"></canvas>
  </mat-card>
</div>
  
</div>